body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;

}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    text-align: center;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
input{
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    

}
button{
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
ul{
    list-style: none;
    padding: 0;

}
li{
    display: flex;
    align-items: center;
    gap: 15px;
}